<configuration scan="true" scanPeriod="20 seconds">
    <property name="LOG_DIR" value="/opt/reneekbartlett/logs" />
    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/verisimilar-core-test.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_DIR}/verisimilar-core-test.%i.log.gz</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%X{file_id} %d [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="STDOUT_DATA" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.reneekbartlett.verisimilar.core.generator" level="DEBUG" additivity="true">
        <appender-ref ref="STDOUT_DATA" />
    </logger>
    <root level="DEBUG">
        <appender-ref ref="STDOUT_DATA" />
        <appender-ref ref="ROLLING_FILE" />
    </root>
</configuration>
